<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="fts.ahmed.tahady_althalathen">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.App.Starting"
        tools:targetApi="31">
        <activity
            android:name=".views.startEnd.FinalActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.TahadyAlThalathen" />
        <activity
            android:name=".views.CallengeFour.Ch4_2_timer"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.TahadyAlThalathen" />
        <activity
            android:name=".views.CallengeFour.Ch4_1_Add"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.TahadyAlThalathen"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".views.ChallengeThree.Ring_ch3"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.TahadyAlThalathen" />
        <activity
            android:name=".views.ChallengeTwo.Mazad_ch25"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.TahadyAlThalathen" />
        <activity
            android:name=".views.ChallengeTwo.Mazad_ch2"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.TahadyAlThalathen" />
        <activity
            android:name=".views.ChallengeOne.WhatDoYouKnow_ch1"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.TahadyAlThalathen" />
        <activity
            android:name=".views.startEnd.MainActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.App.Starting"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>